$white: #FFF;
$green: green;
$grey: #999;
$text-color: #76838B;

// Pagination
.pagination_panel {
  clear: both;
  margin-top: 10px;
}

.digg_pagination {
  cursor: default;
  /* self-clearing method: */ 
  text-align: center;

}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 5px; 
  height: 15px;
}

.digg_pagination .disabled {
  color: $grey;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #F5F5F5;
  color: $text-color;
  border: 1px solid $grey;
}

.digg_pagination a {
  text-decoration: none;
  color: $grey;
  border: 1px solid $grey;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: #333;
  border: 1px solid #333;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .digg_pagination {
  height: 1%; 
}

*:first-child + html .digg_pagination {
  overflow: hidden; 
}